{% extends 'base.html.twig' %}

{% block body %}
	<h2>Plan des places</h2>

    <div class="alert alert-info">
        Sur ce plan, il est possible de consulter l'occupation des places pour ce spectacle!
        Les cases occupées sont affichées en opacité réduite.
    </div>

    <table class="table table-striped">
        <tr>
            <td colspan="8" class="text-center">
                <h4>Scène</h4>
            </td>
        </tr>
        <tr>
            <td class="opacity-25">A1</td>
            <td class="opacity-25">A2</td>
            <td class="opacity-25">A3</td>
            <td class="opacity-25">A4</td>
            <td class="opacity-25">A5</td>
            <td class="opacity-25">A6</td>
            <td class="opacity-25">A7</td>
            <td class="opacity-25">A8</td>
        </tr>
        <tr>
            <td>B1</td>
            <td>B2</td>
            <td class="opacity-25">B3</td>
            <td>B4</td>
            <td class="opacity-25">B5</td>
            <td class="opacity-25">B6</td>
            <td>B7</td>
            <td>B8</td>
        </tr>
        <tr>
            <td>C1</td>
            <td>C2</td>
            <td>C3</td>
            <td>C4</td>
            <td>C5</td>
            <td>C6</td>
            <td>C7</td>
            <td>C8</td>
        </tr>
        <tr>
            <td>D1</td>
            <td>D2</td>
            <td>D3</td>
            <td>D4</td>
            <td>D5</td>
            <td>D6</td>
            <td>D7</td>
            <td>D8</td>
        </tr>
        <tr>
            <td>E1</td>
            <td>E2</td>
            <td>E3</td>
            <td>E4</td>
            <td>E5</td>
            <td>E6</td>
            <td>E7</td>
            <td>E8</td>
        </tr>
    </table>
{% endblock %}
