{% extends 'base.html.twig' %}

{% block body %}
    <h2>Nouvelle réservation</h2>

    {% if erreur is not null %}
        <div class="alert alert-danger" role="alert">
            {{ erreur }}
        </div>
    {% endif %}


    {{ include('reservation/_form.html.twig') }}
{% endblock %}
