{% extends 'base.html.twig' %}

{% block body %}

	<h2>Bienvenue!</h2>

	<div class="card mb-4">
		<div class="card-body">
			La salle de <b>DAWIN-Arena</b> est dotée de
			<b>100</b> places et vous permettra de réserver vos spectacles en ligne!
			<hr/>
			<a href="{{ path('app_show_index') }}" class="btn btn-primary float-end">
				Découvrir les spectacles &raquo;
			</a>
		</div>
	</div>

	<h2>Nos coordonnées</h2>

	<div class="card">
		<div class="card-body">
			Retrouvez notre salle de spectacle:

			<hr/>

			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d866.484008439681!2d-0.6120920284114297!3d44.7905312998258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sfr!4v1674655457720!5m2!1sen!2sfr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

			<hr/>

			<code>
				DAWIN-Arena,<br/>
				1337 rue de DAWIN<br/>
				33000 Bordeaux<br/>
			</code>
		</div>
	</div>

{% endblock %}
