{% extends 'base.html.twig' %}

{% block title %}Seat index{% endblock %}

{% block body %}
    <h2>Places</h2>

    {{ form(form) }}

    <hr/>

    Liste des sièges:
    <kbd>A1</kbd>, <kbd>A2</kbd>, <kbd>B1</kbd>, <kbd>B2</kbd>
{% endblock %}
