{% extends 'base.html.twig' %}

{% block title %}Hello ConfigurationController!{% endblock %}

{% block body %}
    <h2>Configuration</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
